header {
    color: white;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario{
    padding: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}
#header-buscar{
    margin-top: 150px;

  
}